//Bismillah
|<style type="text/css">
|.sp_login-button{background-image:url(/images/fblogin.png);background-repeat:no-repeat;display:inline-block;height:18px;width:18px}
|.pluginFaviconButton{display:inline-block;background-color:#5f78ab;color:#fff;cursor:pointer;vertical-align:top}
|.pluginFaviconButtonEnabled:active{background-color:#4f6aa3}
|.pluginFaviconButtonIcon, .pluginFaviconButtonIconActive, .pluginFaviconButtonIconThrobber, .pluginFaviconButtonIconThrobber .img, .pluginFaviconButtonIconDisabled{vertical-align:top;background-color:#4f6aa3}
|.pluginFaviconButton:active .pluginFaviconButtonIcon, .pluginFaviconButtonEnabled .pluginFaviconButtonIconActive, form.async_saving .pluginFaviconButtonIcon, form.async_saving .pluginFaviconButton:active .pluginFaviconButtonIconActive, .pluginFaviconButtonIconThrobber{display:none}
|.pluginFaviconButtonEnabled:active .pluginFaviconButtonIconActive, form.async_saving .pluginFaviconButtonIconThrobber{display:inline-block}
|.pluginFaviconButtonBorder, form.async_saving .pluginFaviconButtonBorder:active{display:inline-block;border-top:1px solid #29447e;border-right:1px solid #29447e;border-bottom:1px solid #1a356e}
|.pluginFaviconButtonBorder:active{border-color:#34437d}
|.pluginFaviconButtonText, form.async_saving .pluginFaviconButtonEnabled:active .pluginFaviconButtonText{display:inline-block;border-top:1px solid #879ac0;white-space:nowrap}
|.pluginFaviconButtonEnabled:active .pluginFaviconButtonText{border-top-color:#50609c}
|.pluginFaviconButtonSmall .pluginFaviconButtonText{font-size:10px;line-height:10px;padding:2px 6px 3px}
|.pluginFaviconButtonMedium .pluginFaviconButtonText{font-size:11px;line-height:14px;padding:2px 6px 3px}
|.pluginFaviconButtonLarge .pluginFaviconButtonText{font-size:13px;line-height:16px;padding:3px 6px 3px}
|.pluginFaviconButtonXlarge .pluginFaviconButtonText{font-size:24px;line-height:30px;padding:3px 8px 3px}
|.pluginFaviconButtonIconDisabled{display:inline-block}
|.sx_login-button_small{background-position:-0px -178px}
|.sx_login-button_smalla{background-position:-19px -178px}
|.sx_login-button_medium{width:22px;height:22px;background-position:-0px -132px}
|.sx_login-button_mediuma{width:22px;height:22px;background-position:-0px -155px}
|.sx_login-button_large{width:25px;height:25px;background-position:-0px -80px}
|.sx_login-button_largea{width:25px;height:25px;background-position:-0px -106px}
|.sx_login-button_xlarge{width:39px;height:39px;background-position:-0px -0px}
|.sx_login-button_xlargea{width:39px;height:39px;background-position:-0px -40px}
|.uiGridFixed{table-layout:fixed;width:100%}
|.uiGrid .vTop{vertical-align:top}
|.uiGrid .vMid{vertical-align:middle}
|.uiGrid .vBot{vertical-align:bottom}
|.uiGrid .hLeft{text-align:left}
|.uiGrid .hCent{text-align:center}
|.uiGrid .hRght{text-align:right}.fss{font-size:9px}
|.fwb{font-weight:bold}
|</style>
|<div class="pluginLoginButton pluginLoginButtonLarge" id="fbbtn01">
|  <div>
|    <div class="pluginFaviconButton pluginFaviconButtonEnabled pluginFaviconButtonLarge" id="u_0_0">
|      <table class="uiGrid" cellspacing="0" cellpadding="0">
|        <tbody>
|          <tr>
|            <td>
|              <i class="pluginFaviconButtonIcon img sp_login-button sx_login-button_large"></i>
|              <i class="pluginFaviconButtonIconActive img sp_login-button sx_login-button_largea"></i>
|              <span class="pluginFaviconButtonIconThrobber"><i class="img sp_login-button sx_login-button_"></i></span>
|            </td>
|            <td>
|              <span class="pluginFaviconButtonBorder">
|                <span class="pluginFaviconButtonText fwb" style="font-family:'lucida grande',tahoma,verdana,arial,sans-serif;color:#fff;">Log In with Facebook</span>
|              </span>
|            </td>
|          </tr>
|        </tbody>
|      </table>
|    </div>
|  </div>
|</div>
