// Bismillah

extends layout

block content
  .container
    .row.row-fluid
      .col-md-1
      .col-md-10
        .bod
          | Bismillah
  script(type='text/javascript', src='/js/vendor/angular.min.js')
  script(type='text/javascript', src='/js/directory.js')
