// Bismillah

extends layout

block content
  .container(ng-app="directory")
    .page-header
      h2 Directory
    .form-group
      input.form-control(type="text",ng-model="query",placeholder="Search...",autofocus="")
    .directory(ng-controller="directoryController as directory")
      .media(ng-repeat="member in directory.members | filter: query | orderBy: 'lastName'", ng-show="member._id!==directory.me._id", ng-click="directory.profile(member)")
        a.media-left(href="#")
          img(ng-src="{{directory.profilePic(member).thumb}}")
        .media-body
          h4.media-heading {{member.displayName}}
          em {{member.department}}
          p {{member.country}}
  script(type='text/javascript').
    var me = !{JSON.stringify(user)}
  script(type='text/javascript', src='/js/vendor/angular.min.js')
  script(type='text/javascript', src='/js/directory.js')
