body
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.main
{
	margin-top: 10px;
}

.masthead
{
	background-color: #3D0000;
	color: #EEEEEE;
}
h1
{
	font-size: 58px !important;
}

/**
* Fonts
*/
.cursive
{
	font-family: 'Cedarville Cursive', cursive;
}
.subbrand
{
	font-family: 'Cedarville Cursive', cursive;
	color: #EEEEEE !important;
	font-size: 17pt;
	margin-bottom: 0px;
}

/**
 * Directory
 */
.directory .media {
  cursor: pointer;
}

/**
 * Profile
 */
.profile .row>div {
  margin-top: 5px;
}
