#content *
{
	/*color: #910101;	*/
	font-family: Georgia, "Times New Roman", Times, serif;
}
body
{
	background: #95A9B8 url(../images/bg-gradient.png) 0 0 repeat-x;
}
h1, h2, h3
{
	color: #660000;
}
p
{
	color: #000000;
	text-indent: 1cm;
}
#d1
{
	width: 900px;
	background-color: #FFFFFF;
}
#imgheader
{
	text-align: right;
	padding: 0px;
	height: 97px;
	background-image: url('../images/header.png');
	background-position: "right top";
	background-repeat: no-repeat;
	margin: 0px;
}
#mainframe
{
	padding: 0px;
	height: 800px;
	border: 0px solid #00FF00;
}
#sidepanel
{
	width: 186px;
	height: 100%;
	background-color: #910101;
	background-image: url(../images/sidepanelbg.png);
	background-position: right;
	background-repeat: repeat-y;;
	float: left;
	border: 0px solid #000000;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#content
{
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FFFFFF;
	width: 664px;
	height: 100%;
	text-align: left;
	float: right;
	overflow: auto;

}
#imgfooter
{
	text-align: right;
	padding: 0px;
	height: 50px;
	background-image: url('../images/footer.png');
	background-position: "right top";
	background-repeat: no-repeat;
	margin: 0px;
}
#footer
{
	background-color: #910101;
	color: #660000;
	text-align: center;
	padding: 5px;
}
.slinks
{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	height: 24px;
	width: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.slinks:hover
{
	background-image: url('../images/linkbutton.png');
}

/* End Layout Styles */

/* Login Box Styles */
.lbox
{
	width: 300px;
	float: right;
	margin: 15px;
}
.lboxinner
{
	padding: 15px;
}
.lboxinput
{
	width: 100%;
	height: 30px;
	font-size: 16pt;
	padding: 3px;
	margin: 2px;
}
.lboxforgot
{
	float: left;
	padding-top: 10px;
	padding-left: 25px;
}
.lboxfb
{
	margin-top: 75px;
	padding-bottom: 40px;
	padding-left: 2px;
}
.lboxsup
{
	width: 174px;
	font-size: 18px;
}
/* End Login Box Styles */

/* quick styles */
.fll
{
	float: left;
}
.flr
{
	float: right;
}
.w100
{
	width: 100%;
}
.blktxt
{
	color: #000000;
}
